@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



:root{
    --primary-color : #1996D9;
    --secondary-color : #FDE400;
    --black : #222;
    --white : #fff;
    --grey : #555;
    --light-white: #ddd;
    --light-black : #333;
    --light-blue : #B4DFF6;
    --dark-bg: rgba(0,0,0,.7);
    --light-bg: #eee;
    --blue-bg : #b3e0ff;
    --border:.1rem solid var(--black);
    --box-shadow: 0 .5 rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);

}

*{
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size : 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}

section{
    padding: 5rem 10%;
}

.btn{
    display: inline;
    background: var(--white);
    margin: 2rem;
    margin-top: 1rem;
    color: var(--black);
    font-size: 1.7rem;
    padding :1rem 3rem;
    cursor: pointer;
}

.btn:hover{
    background: var(--primary-color);
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--primary-color);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box--shadow);
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--secondary-color);
}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}

.home{
    padding: 0;
}

.home .swiper-slide{
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 60rem;
}

.home .swiper-slide .content{
    width: 85rem;
}

.home .swiper-slide .content span{
    display: block;
    font-size: 2.2rem;
    color: var(--secondary-color);
    padding-bottom: 1rem;
}

.home .swiper-slide .content h3{
    font-size: 6vw;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
}

.home .swiper-button-prev{
    color: var(--white);
}

.home .swiper-button-next{
    color: var(--white);
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--primary-color);
}

.about .image{
    flex: 1 1 41rem;
}

.about .image img{
    height: 35rem;
    margin-left: 13rem;
    border: 1rem solid var(--white);
    border-radius: 3rem;
}

.about .content{
    flex: 1 1 41rem;
    padding: 3rem;
    background: var(--light-blue);    
}

.about .content h3{
    font-size: 3rem;
    color: var(--black);
}

.about .content p{
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
    color: var(--black);
}

.about .content ul li{
    font-size: 1.5rem;
    line-height: 2;
    color: var(--black);
    margin-left: 2rem;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}

.head-title{
    margin-bottom: 3rem;
    text-align: center;
    color: var(--primary-color);
    font-size: 4.5rem;
}

.services .box-container .box{
    padding: 3rem 2rem;
    text-align: center;
    background-color: var(--primary-color);
    cursor: pointer;
}

.services .box-container .box img{
    height: 7rem;
}

.services .box-container .box h3{
    color: var(--white);
    font-size: 1.7rem;
    padding-top: 1rem;
}


.operational-hours {
    background-color: #b3e5fc;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.operational-hours h1 {
    color: var(--primary-color);
    margin-bottom: 2rem;
    font-size: 4.5rem;
    text-align: center;
}

.operational-hours .box-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.operational-hours .box-container div {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 6rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.operational-hours .box-container div span {
    background-color: white;
    color: #0288d1;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    margin-right: 1rem;
    font-size: 2rem;
}

.operational-hours .box-container div p{
    font-size: 2rem ;
}

.work-process {
    margin: 2rem 0;
}

.work-process h1 {
    font-size: 4.5rem;  
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-align: center;
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin: 0 auto;
    width: 80%;  
    position: relative;
}

.steps::before {
    content:"";
    position: absolute;
    top: 41%;  
    left: 10%;
    right: 10%;
    height: 3px;
    border-top: 0.2rem dashed #0288d1;
    z-index: -1;
}

.steps .step {
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0 1rem;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps .step img {
    height: 7rem;  
    margin-bottom: 1rem;
}

.steps .step p {
    font-size: 1.5rem;  
    color: #0288d1;
    margin-top: 0.5rem;
}

.warning {
    width: 80%;
    margin: 0 auto;
    background-color: #f0faff;
    border-radius: 10px;
    border: 10px solid #2196f3;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-bottom: 30px;
}

.warning h3{
    background-color: #2196f3;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    margin: -20px -20px 20px -20px;
   
}

.warning2{
    color: #2196f3;
    font-size: 18px;
    margin: 5px 0;

    
}

.footer{
    background-color: var(--primary-color);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 25rem));
    gap: 0;
}

.footer .box-container .box h3{
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.footer .box-container .box a{
    color: #fff9;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: block;
}

.footer .box-container .box a i{
    color: var(--white);
    padding-right: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i{
    padding-right: 1.5rem;
}


.footer .copyright{
    text-align: left;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid var(--light-bg);
    font-size: 2rem;
    color: var(--white);
}

@media (max-width:1200px){

    section{
        padding: 3rem 5%;
    }
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2 rem;
    }

    .home .swiper-slide .content h3{
        font-size: 10vh;
    }
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--primary-color);
        border-top: var(--border);
        padding: 2rem;
        transition: .2s;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }
    .operational-hours .box-container div span{
        font-size: 1rem;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .head-title{
        font-size: 3.5rem;
    }
    
}